<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<center><h3>Login to continue</h3>
	<form method="post">
		<table>
			<tr>
				<td>
					Username
					<input type="text" name="username">
				</td>
			</tr>
			<tr>
				<td>
					Password
					<input type="password" name="password">
				</td>
			</tr>
			<tr>

				<td>
					<input type="submit" value="login" style="margin-left: 110px; width: 30%;">
				</td>
			</tr>
		</table>
	</form>
	<%= message %>

	</center>
</body>
</html>